<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>GymTrack | Coming Soon!</title>
        <meta name="description" content="">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <%= stylesheet_link_tag "normalize" %>
        <%= stylesheet_link_tag "help" %>
		
		<%= javascript_include_tag "jquery-1.9.1.min" %>
		
        <style type="text/css">
			body {
				font-family: 'Open Sans', sans-serif;
			}
		</style>
		
    </head>
    <body class="loading">
		
    	<header id="header">
			<div id="nav-header" class="content">
			<img id="logo" src="/assets/gt_logo.png"/>
			
			<nav id="nav">
				<ul id="nav-ul">
					<li><a id="a-slide-1" href="#slide-1" class="active" title="Next Section">Home</a></li>
					<li><a id="a-slide-2" href="#slide-2" title="Next Section">About</a></li>
					<li><a id="a-slide-3" href="#slide-3" title="Next Section">The Team</a></li>
					<li><a id="a-slide-4" href="#slide-4" title="Next Section">Contact Us</a></li>
					
				</ul>
			</nav>
			</div>
		</header>	
		  
       	<main>
	        <section id="slide-1" class="homeSlide snap">
	        	<div id="bcg-slide-1" class="bcg" 
	        		data-center="background-position: 50% 0px;" 
	        		data-top-bottom="background-position: 50% 0px;" 
	        		data-anchor-target="#slide-1">
		        	<div class="hsContainer">
			    		<div class="hsContent">
							
							<div id="slide-1-content">
								GymTrack works best on desktop browsers.
							</div>							
			    		</div>						
		        	</div>
	        	</div>
		    </section>
		</main>		
    </body>
</html>
